<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                <exclude>java\.util\.concurrent\..*</exclude>
                <exclude>org\.apache\.tomcat\..*</exclude>
                <exclude>org\.apache\.coyote\..*</exclude>
                <exclude>org\.apache\.catalina\..*</exclude>
                <exclude>org\.springframework\.web\..*</exclude>
                <exclude>sun\.net\.www\..*</exclude>
            </throwableConverter>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="stdout_json"/>
    </root>

    <logger name="no.nav.skanmotreferansenr" level="INFO" additivity="false">
        <appender-ref ref="stdout_json"/>
    </logger>



    <logger name="org.springframework.security.ldap" level="INFO" additivity="false">
        <appender-ref ref="stdout_json"/>
    </logger>

    <!-- Hibernate deprecated warnings -->
    <logger name="org.hibernate.orm.deprecation" additivity="false" level="ERROR"/>
    <!-- Remove noise due to wrong use of AddressingFeature -->
    <logger name="org.apache.cxf.ws.addressing.ContextUtils" additivity="false" level="ERROR"/>
    <logger name="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor" additivity="false" level="ERROR"/>
    <logger name="org.apache.cxf.ws.addressing.soap.MAPCodec" additivity="false" level="ERROR"/>
    <logger name="org.apache.wss4j.common.crypto.CryptoBase" additivity="false" level="ERROR"/>
    <logger name="log4j.logger.org.apache.cxf.interceptor" additivity="false" level="ERROR"/>


</configuration>