name: Build Dependabot PR branch
on:
  push:
    branches:
      - 'dependabot/**'

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    if: ${{ github.actor == 'dependabot[bot]' }}
    uses: navikt/dok-workflows/.github/workflows/build-app-gar.yml@main
    secrets: inherit