name: Build, deploy dev feature

on:
  push:
    branches-ignore:
      - main
      - master
      - 'dependabot/**'

jobs:
  build:
    permissions:
      contents: write
      packages: write
    uses: navikt/dok-workflows/.github/workflows/build-deploy-feature.yml@main
    secrets: inherit
